:root{
    --main-color:#ff00aa;
    --main-font: "Dancing Script", cursive;
    --logo-font:"Pacifico", cursive;
    --btn-color:linear-gradient(to right, red, var(--main-color), #000);
}

header{
    background-image: url(../imge/unsplash.jpg),linear-gradient(rgba(0, 0, 0, 0.833),rgba(0, 0, 0, 0.833));
    background-blend-mode: overlay;
    background-position: 0 0;
    height: 100vh;
    background-size: cover;
}

footer{
    background-color: #000;
}

nav{
    background-color: #000000c0;
    font-family: var(--logo-font);
}

nav a i,nav .nv-a{
    color: var(--main-color);
}

header nav a:hover{
    color: white !important;
    transition: all .8s;
}

.ha,.bbbttn,.bu4,.za,footer{
    font-family: var(--main-font);
}

.ha h1,.modal-title,.sp,.zaa,.cco,nav a{
    color: var(--main-color);
}

.modal{
    top: -160px;
}

.zaa{
    font-size: 3rem;
}

.ha h1{
    font-size: 4rem;
}

.bbbttn ,.co-b{
    background: var(--btn-color);
    color: white;
    font-weight: 900;
}

.bbbttn{
    margin: auto;
    transition: all .5s;
}

.bbbttn:hover{
    border-radius: 40px;
}

.nb-n:hover{
    width: 20% !important;
}

nav span{
    right: 30px;
    color: var(--main-color);
}

.ico-ho{
    transition: all .5s;
}

.ico-ho:hover{
    color: gray !important;
}

.bu4{
    z-index: 9;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 12rem;
}

.co{
    display: none;
    transform: translateX(50%);
}

#change-ab{
    background-color: #000;
}

.b-hp{
    position: relative;
    top:9rem;
    width: 100%;
}

.lo-mix{
    font-size: 50px;
}

.schedule{
    bottom: 13%;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width:475px) {
    .schedule{
        bottom: 2%;
    }
    header{
        height: 110vh;
    }
}

.schedule button{
    font-family: var(--logo-font);
    background: var(--btn-color);
    transition: all .5s;
}

.schedule button:hover{
    border-radius: 20px;
}

.tableheight{
    max-height: 324px;
    overflow-y: scroll;
    width: 90%;
    background-color: #212529;
}

.result{
    width: 90%;
}



/* .hide{
    display: none;
} */

.mo2{
    z-index: 9999;
}